.product-management-container {
  padding: 20px;
  background: #F4F1EC;
  border-radius: 10px;
  margin-top: 30px;
}

button {
  background: #5f3e22;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #675654;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  
}

.search-container input, .search-container select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: white;
  outline: none;
  width: 20%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #5f3e22;
  color: white;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.modal-actions button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.modal-actions button:hover {
  background-color: #ddd;
}

.modal-actions button i {
  font-size: 16px;
  color: #333;
}

.edit-btn {
  background-color: #675654; 
  color: white;
}

.delete-btn {
  background-color: #da323e;
  color: white;
}

.edit-btn:hover, .delete-btn:hover {
  opacity: 0.8;
}

td img {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
