<div class="blog-container">
  <h2>QUẢN LÝ BLOG</h2>

  <!-- Nút Thêm bài đăng mới -->
  <button class="new-post" (click)="router.navigate(['/blog-add'])">+ Bài đăng mới</button>

  <!-- Bảng danh sách bài đăng -->
  <table>
    <thead>
      <tr>
        <th>Tiêu đề</th>
        <th>Tác giả</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogs">
        <td>{{ blog.title }}</td>
        <td>{{ blog.author }}</td>
        <td>
          <div class="modal-actions">
            <button class="edit-btn" (click)="editBlog(blog._id)">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button class="delete-btn" (click)="deleteBlog(blog._id)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
