<div class="dashboard-container">
  <h1>Chào mừng đến với hệ thống quản lý Cariol!</h1>

  <div class="card-container">
    <!-- Quản lý Vai Trò -->
    <div class="card">
      <div class="card-header">
        <i class="fas fa-user-cog"></i>
      </div>
      <div class="card-body">
        <h2>Quản lý Vai Trò</h2>
        <p>Quản lý các vai trò người dùng trong hệ thống.</p>
        <button routerLink="/role-management">Cập nhật</button>
      </div>
    </div>

    <!-- Quản lý Sản Phẩm -->
    <div class="card">
      <div class="card-header">
        <i class="fas fa-box"></i>
      </div>
      <div class="card-body">
        <h2>Quản lý Sản Phẩm</h2>
        <p>Thêm, sửa, xóa sản phẩm trong cửa hàng.</p>
        <button routerLink="/product-management">Quản lý</button>
      </div>
    </div>

    <!-- Quản lý Đơn Hàng -->
    <div class="card">
      <div class="card-header">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="card-body">
        <h2>Quản lý Đơn Hàng</h2>
        <p>Theo dõi các đơn hàng, tình trạng giao hàng.</p>
        <button routerLink="/manage-orders">Xem đơn hàng</button>
      </div>
    </div>

    <!-- Mã Giảm Giá -->
    <div class="card">
      <div class="card-header">
        <i class="fas fa-percent"></i>
      </div>
      <div class="card-body">
        <h2>Mã Giảm Giá</h2>
        <p>Tạo mã giảm giá cho khách hàng.</p>
        <button routerLink="/voucher-management">Mã giảm giá</button>
      </div>
    </div>

    <!-- Quản lý Blog -->
    <div class="card">
      <div class="card-header">
        <i class="fas fa-blog"></i>
      </div>
      <div class="card-body">
        <h2>Quản lý Blog</h2>
        <p>Thêm, sửa, xóa bài viết blog.</p>
        <button routerLink="/blog">Quản lý blog</button>
      </div>
    </div>
  </div>
</div>
